//глобальні стилі
body {
    font-family:'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: $grey;
    color: $black;
}

.b-page {

    &__header {
        padding-left: 30px;
        padding-right: 30px;

        @include  md() {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__content {}

    &__footer {}

    &__container {}
}

.b-main {

    &__section {
        padding-left: 60px;
        padding-right: 100px;

        &_full-screen {
            padding-left: 0;
            padding-right: 0;
        }     
    }

    &__container {}
}

.b-main-title {
    @include adaptive-font(77, 40);
    line-height: 1.05;
    font-weight: 500;
}

.b-title {
    @extend .b-main-title;
    @include adaptive-font(59, 30);
    line-height: 1.1;
}

