//глобальні стилі
body {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-weight: 400;
    background-color: var(--accent-bcg-color);
    @include adaptive-font(24, 18);
    color: var(--accent-color);
    line-height: 1.4;
}
