// @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
//     font-size: 1.34vmin;
// }

//variables
$light-blue: #7EC1F9;
$dark-blue: #0D4C82;
$grey: #fafafa;
$black: #212121;
$white: #fff;
$maxWidth: 1600;
$maxHeight: 900;
$maxWidthContainer: 1560;

$colors: (
    'light-blue' : $light-blue,
    'dark-blue' : $dark-blue,
    'grey' : $grey,
    'black' : $black,
    'white' : $white
);

@each $c_name,
$c_HEX in $colors {
    [class*="_c-#{$c_name}"] {
        color: #{$c_HEX};
    }

    [class*="_bc-#{$c_name}"] {
        border-color: #{$c_HEX};
    }

    [class*="_bcg-#{$c_name}"] {
        background-color: #{$c_HEX};
    }
}