//variables
$maxWidth: 1920;

$light-bcg: #7EC1F9;
$dark-bcg: #0D4C82;
$grey-bcg: #fafafa;
$text-color: #212121;

$colors: (
    'primary': $primary,
    'secondary': $secondary,
);

@each $c_name,
$c_HEX in $colors {
    [class*="_c-#{$c_name}"] {
        color: #{$c_HEX};
    }

    [class*="_bc-#{$c_name}"] {
        border-color: #{$c_HEX};
    }

    [class*="_bcg-#{$c_name}"] {
        background-color: #{$c_HEX};
    }
}