@import './../base/vars';
@import './../base/mixins';

$arrow-size: 1.15em;

.b-btn {
    padding: 1.25em 3.34em;
    border-radius: 10em;
    display: inline-flex;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;

    @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
        font-size: get-vw(12px);
    }

    &::after {
        content: '';
        margin-left: .8em;
        width: $arrow-size;
        height: $arrow-size;
        display: inline-block;
        vertical-align: sub;
        background-size: contain;
    }

    &_light-down,
    &_light-up,
    &_light {
        color: $dark-blue;
        background-color: $white;

        &::after {
            background-repeat: no-repeat;
            background-position: 0 0;
            background-image: url("data:image/svg+xml,%3Csvg width='13 ' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.846901 13.5L11.8143 2.53264L11.7931 11.3616L13 11.3403L13 0.5L2.15968 0.500001L2.13843 1.70691L10.9674 1.68574L0 12.6531L0.846901 13.5Z' fill='%230D4C82'/%3E%3C/svg%3E"),
                url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.846901 13.5L11.8143 2.53264L11.7931 11.3616L13 11.3403L13 0.5L2.15968 0.500001L2.13843 1.70691L10.9674 1.68574L0 12.6531L0.846901 13.5Z' fill='%230D4C82'/%3E%3C/svg%3E");
        }
    }

    &_dark-down,
    &_dark-up,
    &_dark {
        color: $white;
        background-color: $dark-blue;

        &::after {
            background-repeat: no-repeat;
            background-position: 0 0;
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.846901 13.5L11.8143 2.53264L11.7931 11.3616L13 11.3403L13 0.5L2.15968 0.500001L2.13843 1.70691L10.9674 1.68574L0 12.6531L0.846901 13.5Z' fill='white'/%3E%3C/svg%3E"),
                url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.846901 13.5L11.8143 2.53264L11.7931 11.3616L13 11.3403L13 0.5L2.15968 0.500001L2.13843 1.70691L10.9674 1.68574L0 12.6531L0.846901 13.5Z' fill='white'/%3E%3C/svg%3E");
        }
    }

    &_light-down:after,
    &_dark-down:after {
        transform: rotateZ(90deg);
    }

    @media(min-width: 790px) {

        &_light-up:hover:after,
        &_dark-up:hover:after,
        &_dark:hover:after,
        &_light:hover:after {
            animation: arrow-top .3s linear 1 .2s;
        }

        &_light-down:hover:after,
        &_dark-down:hover:after {
            animation: arrow-down .3s linear 1 .1s;
        }

        @keyframes arrow-top {
            from {
                background-position: 0 0, -1.5em 1.5em;
            }

            to {
                background-position: 1.5em -1.5em, 0 0;
            }
        }

        @keyframes arrow-down {
            from {
                background-position: 0 0, -1.5em 1.5em;
            }

            to {
                background-position: 1.5em -1.5em, 0 0;
            }
        }
    }

    &__inner {
        position: relative;
        top: 0;
        will-change: top;
        overflow-y: hidden;
    }

    &__text {

        @media(min-width:790px) {
            &:after {
                content: attr(data-roll-animate);
                position: absolute;
                top: 1.5em;
                left: 0;
                right: 0;
                display: block;
            }
    
            .b-btn:hover & {
                animation: roll .2s linear 1 .1s;
            }
        }
    }
}

@media(min-width:790px) {
    @keyframes roll {
        from {
            top: 0;
        }
        to {
            top: -1.5em;
        }
    }
}