@import './../base/vars';
@import './../base/breakpoints';
@import './../base/mixins';
@import './../base/global';

.b-first-screen_bcg-dark-blue header::after{
    background-color: $white;
}

.b-first-screen_bcg-light-blue header::after{
    background-color: $dark-blue;
}

header {
    column-gap: 50px;
    @include adaptiv-value('padding-top', 30, 20, 1);
    @include adaptiv-value('padding-right', 30, 20, 1);
    @include adaptiv-value('padding-bottom', 30, 20, 1);
    @include adaptiv-value('padding-left', 30, 20, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &::after {
        content: '';
        height: 1px;
        position: absolute;
        bottom: 0;
        @include adaptiv-value('right', 30, 20, 1);
        @include adaptiv-value('left', 30, 20, 1);

        @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
            left: get-vw(30px);
            right: get-vw(30px);
        }
    }

    @include md() {
        column-gap: 20px;
    }

    @media(max-width:960px) {
        padding: 20px;
    }

    @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
        column-gap: get-vw(50px);
        padding: get-vw(30px);
    }


    & .b-logo {
        width: max(120px, 152px);
        z-index: 999;

        & svg {
            width: 100%;
        }

        @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
            width: get-vw(152px);
        }
    }


    & nav {
        display: flex;
        align-items: center;
        align-items: center;
        column-gap: 50px;
        height: 100%;

        @include md() {
            column-gap: 20px;
        }

        @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
            column-gap: get-vw(50px);
        }
    }

    & ul {
        display: flex;
        align-items: center;
        column-gap: 25px;
        @media(min-width:790px) {
            height: 100%;
        }

        @include md() {
            column-gap: 15px;
        }

        @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
            column-gap: get-vw(25px);
        }
    }

    & li {
        @media(min-width:790px) {
            height: 100%;
        }

        & a {
            font-size: 16px;
            font-weight: 500;
            white-space: nowrap;

            @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
                font-size: get-vw(16px);
            }
            
            @media (max-width: 790px) {
                @include adaptive-font(26, 20);
                width: 100vw;
            }
        }
    }
}

.b-burger {
    display: none;
}

@media(max-width:790px) {

    .b-logo {
        width: 121px !important;
        height: 30px;
        z-index: 999;
    }


    header {
        position: relative;

        & nav {
            background-color: $dark-blue;
            position: fixed;
            inset: 0;
            flex-direction: column;
            justify-content: center;
            row-gap: 20px;
            min-height: 100vh;
            overflow: auto;
            padding-bottom: 40px;
            opacity: 0;
            transform: translate3d(0,-100%,0);
            will-change: transform, opacity;
            transition: transform .4s cubic-bezier(0.9, 0.0, 0.3, 0.5), opacity .5s cubic-bezier(0.9, 0.0, 0.3, 0.5);
            
            &.active {
                transform: translate3d(0,0,0);
                opacity: 1;
                z-index: 99;
            }

            @media (orientation: landscape){
                padding-top: 120px;
            }

            & ul {
                row-gap: 20px;
                flex-direction: column;
                background-color: $dark-blue;
                width: 100%;
                justify-content: center;
            }
        }
    }
}