@import "base/vars";
@import "base/mixins";
@import "base/breakpoints";

.b-first-screen {
    border-radius: 0 0 20px 20px;
    z-index: 2;

    @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
        border-radius: 0 0 get-vw(20px) get-vw(20px);
    }
}

.b-first-screen__wrapper {
    // padding: 112px 30px 180px;
    @include adaptiv-value('padding-top', 112, 50, 1);
    @include adaptiv-value('padding-right', 30, 20, 1);
    @include adaptiv-value('padding-bottom', 180, 0, 1);
    @include adaptiv-value('padding-left', 30, 20, 1);

    @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
        padding: get-vw(112px) get-vw(30px) get-vw(180px);
    }
}

.b-first-screen__inner {}

.b-first-screen__inner_text {
    width: min(638px, 100%);
    display: flex;
    flex-direction: column;

    @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
        max-width: get-vw(638px);
    }
}

.b-first-screen__inner_graph {
    width: min(740px, 100%);

    @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
        max-width: get-vw(740px);
    }
}

.b-main-title {}

.b-first-screen__title {
    margin-bottom: 40px;

    @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
        margin-bottom: get-vw(40px);
    }
}

.b-first-screen__description {
    margin-bottom: 40px;

    @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
        margin-bottom: get-vw(40px);
    }
}

.b-first-screen__nav {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 20px;


    @media (min-width: #{$maxWidth}px) and (min-height: #{$maxHeight}px) {
        column-gap: get-vw(30px);
        margin-bottom: get-vw(40px);
    }
}

.b-btn {}

.b-btn__light-up {}

.b-btn_dark-down {}

.b-graph {}